@model LogInUserViewModel


@*<h1>LogIn User</h1>*@


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-90">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div style="background-color:#123B62" class="card text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
      <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
      <p class="text-white-50 mb-5">Please enter your login and password</p>

                        


<form asp-controller="Account" asp-action="LogIn" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-outline form-white mb-4">
        <input asp-for="UserName" placeholder="Enter Username"/>
        <span asp-validation-for="UserName"></span>
    </div>

    <div class="form-outline form-white mb-4">
        <input asp-for="Password" placeholder="Enter Password" />
        <span asp-validation-for="Password"></span>
    </div>
    
    
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe"/>
        <!-- <span asp-validation-for="RememberMe"></span> -->
    </div>

    <button class ="btn btn-outline-light btn-lg px-5" type="submit">LogIn</button>

    <br><br/>

   <td><a class="btn btn-info" asp-controller="Account" asp-action="Register">Register</a></td>



   


</form>

