@model LogInUserViewModel


@*<h1>LogIn User</h1>*@


@*<section class="vh-100 gradient-custom">
    <div class="container py-5 h-90">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div style="background-color:#123B62" class="card text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
      <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
      <p class="text-white-50 mb-5">Please enter your login and password</p>*@


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Login</h2>

<form asp-controller="Account" asp-action="LogIn" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label for="UserName">Username</label>
                    <input type="text" class="form-control" asp-for="UserName" placeholder="Enter username">
                </div>

                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="text" class="form-control" asp-for="Password" placeholder="Enter Password">
                </div>

                <div>
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    <!-- <span asp-validation-for="RememberMe"></span> -->
                </div>

                <button type="submit" class="btn btn-primary btn-block">Login</button>
              
     <td><a class="btn btn-info" asp-controller="Account" asp-action="Register">Register</a></td>



   


</form>

